.project-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-card h3 {
  font-size: 1rem;
  color: #333;
}